
/* YOUR CSS STYLES */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333333;
    background-color: #ffffff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

.jumbotron {
  background: #0099cb;
  height: 120px;
  margin-bottom: 45px;
}

.section-header {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    opacity:1;
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 45px;
    /* padding-top: 60px; */
    padding-right: 15px;
    position: relative;
}

.section-header:after {
  content:"";
  background: #fff;
  position: absolute;
  bottom: -3px;
  left: 1px;
  height: 2px;
  width: 50px;
  /* border-bottom: 1px solid black; */
}

.explanatory-text {
    font-size: 15px;
}

.chart-title {
    font-family: "Roboto Condensed";
    font-size: 25px;
    text-align: center;
    font-weight: 300;
}

.chart-footnote {
    font-family: "Roboto Condensed";
    font-size: 10px;
}

.chart-line {
    fill: none;
}

.radio-container {
    text-align: center;
    margin-bottom: 20px;
}

.expo-opening-line {
    stroke: black;
}

.expo-opening-line-label {
    font-family: "Roboto Condensed";
    text-anchor: end;
    font-style: italic;
}

.axis-label {
    font-family: "Roboto Condensed";
    fill: black;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.x-axis text {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 13px;
}

.y-axis text {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 13px;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: black;
    color: #fff;
    border-radius: 2px;
}

.d3-tip.timeline {
    width: 200px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: black;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.member-profile {
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.member-picture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.data-science-logo {
    color: #A51C30;
    font-size: 40px;
}

.data-science-logo-small {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

/* Styles for map */
#map {
    width: 100%;
    height: 400px;
}

/*
 Ensures map is larger when map section is active
 otherwise ensures it doesn't overlap with
 statistical analysis section
*/
section.active #map {
    height: 600px;
}

table.tt-table td {
    font-family: 'Roboto Mono', sans-serif;
    text-align: middle;
    padding: 0.25em;
    width: 9em;
}

table.tt-table td.tt-long-cell {
    width: 20em;
}

table.tt-table td.text {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}

table.tt-table td.text-col {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: middle;
}

.tt-p-legend {
  font-family: 'Roboto Mono', sans-serif;
}
